<div class="checkoutContainer">
    <h1 class="checkoutH1">Checkout</h1>
    <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
        {{errMsg}}
    </div>
    <form action="" method="post" id="checkout-form">
        <div class="inp">
            <div style="width: 45%;margin-right: 10%">
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
            </div>
            <div style="width: 45%;">
                <div class="form-group">
                    <label for="number">Phone (+375(11)-111-11-11)</label>
                    <input type="text" id="number" name="number" class="form-control"
                           pattern="[\+]\d{3}[\(]\d{2}[\)][\-]\d{3}[\-]\d{2}[\-]\d{2}" minlength="18" maxlength="18" required>
                </div>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" name="address" class="form-control" required>
            </div>
        </div>
        <hr class="chechoutHr">
        <div class="inp">
            <div style="width: 45%;margin-right: 10%">
                <div class="form-group">
                    <label for="card-name">Card Holder Name</label>
                    <input type="text" id="card-name" class="form-control" required>
                </div>
            </div>
            <div style="width: 45%;">
                <div class="form-group">
                    <label for="card-number">Credit Card Number</label>
                    <input type="text" id="card-number" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="inp">
            <div style="width: 30%;margin-right: 10%">
                <div class="form-group">
                    <label for="card-expire-month">Expiration Month</label>
                    <input type="text" id="card-expiry-month" class="form-control" required>
                </div>
            </div>
            <div style="width: 30%;margin-right: 10%">
                <div class="form-group">
                    <label for="card-expire-year">Expiration Year</label>
                    <input type="text" id="card-expiry-year" class="form-control" required>
                </div>
            </div>
            <div style="width: 30%;">
                <div class="form-group">
                    <label for="card-cvc">CVC</label>
                    <input type="text" id="card-cvc" class="form-control" required>
                </div>
            </div>
        </div>
        <hr>
        <h4>Your Total: ${{totalPrice}}</h4>
        <button type="submit" class="btn btn-success pull-right">Buy now</button>
    </form>
</div>

<script src="https://js.stripe.com/v2/"></script>
<script src="javascripts/checkout.js"></script>
<script src="javascripts/jquery-confirm.js"></script>

<script>
    document.title='Checkout';
</script>